# Notebooks
jupyterlab
# Dataframes
pandas
# Graphs
seaborn
#bokeh
#plotly
# Make graphs in notebooks dynamic
#ipywidgets
# Formatting of notebook code
nb-black
# Formatting and checking of non-notebook code
#flake8
#mypy
#black
